<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>Create a Cohort</h3>

 <label for="fname">Name</label><br>
  <input type="text" id="fname" Name="fname"><br><br>

 <label for="lname">Description</label><br>
  <input type="text" id="lname " name="lname" style=" width:160px; height:70px"><br><br>
 <input type="submit" value="Submit">
</body>
</html>