<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>Create a Native</h3>
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>
    <label for="avatar">Choose a profile picture</label><br>
  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg, image/jpg"><br><br>
 <label for="cohort">Choose a cohort:</label>

<select name="cohort" id="cohort">
  <option value="one">1</option>
  <option value="two">2</option>
  <option value="three">3</option>
  <option value="four">4</option>
  <option value="five">5</option>
  <option value="six">6</option>
  <option value="seven">7</option>
  <option value="eight">8</option>
</select><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>