<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 style="color: brown">Home</h1>
<h3>Welcome Home</h3>

<a href="http://127.0.0.1:8000/myapp/create_a_cohort/"> Create a cohort</a>
<a href="http://127.0.0.1:8000/myapp/create_a_native/"> Create a native</a>

</body>
</html>
